body{
  background: #141414;
  color: #fff;
}
.container-fluid{
  padding: 0;
  margin: 0;
}
.row{
  margin: 0;
}
.moviator > .row{
  overflow-x: auto ;
  margin: 0px !important;
  flex-wrap: nowrap;
}